.main {
  width: auto;
  background-color: #fff;
  border-radius: 20px;
  margin: 0px 50px;
  box-sizing: border-box;
  padding: 20px;
}

.main .header {
  display: flex;
  margin-bottom: 20px;
}

.main h3{
  color: var(--primary-color);
  margin-top: 3px;
}

.main .classify {
  margin: 0px 20px 10px 0px;
}

.main #list{
  font-size: 12pt;
}
.main #list .item:not(:last-child):after{
  content: '/';
  font-weight: 900;
}
.main #list a{
  padding: 0px 10px;
}

/**轮播窗*/
.carousel {
  width: 500px;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  border-radius: 17px;
}

.carousel .item {
  width: 100%;
  height: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 60pt;
  color: rgb(255, 255, 255);
  text-shadow: 1px 2px 6px rgb(255, 196, 196);
  background-image: linear-gradient(#f00,#ff00bf);
}

.carousel>:nth-child(2) {
  margin-left: calc(var(--value,0) * -100%);
  transition: all 500ms ease;
}

.carousel>.select {
  position: absolute;
  width: 100%;
  left: 0px;
  bottom: 0px;
  display: flex;
  justify-content: center;
}

.carousel input {
  width: 100%;
  height: 100%;
  opacity: 0;
  margin: 0px;
  position:absolute;
  cursor: pointer;
}
.carousel .select>div{
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: #fff;
  position: relative;
  cursor: pointer;
  margin: 10px 2px;
  overflow: hidden;
  border: 2px solid #fff;
}

/**轮播图选中的中心点大小*/
.carousel .select>div>div {
  width: 100%;
  height: 100%;
}
/**轮播图选中时中心点颜色*/
.carousel .select>div>:first-child:checked + div{
  background-color: rgb(64, 64, 255);
}

/** login */
.main>.header>.login {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}
/**头像*/
.header>.login>.head{
  font-size: 37pt;
  margin-bottom: 10px;
}

.header>.login .fun {
  margin-top: 10px;
}

.header>.login .fun>a{
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  font-size: 8px;
}

.header>.login .fun>a>i {
  font-size: 16pt;
  margin-bottom: 3px;
  display: block;
}

/**猜你喜欢*/
.main>.like {
  margin-top: 20px;
}
.like-main {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
}
.main>.like .item {
  width: 270px;
  height: 120px;
  border: 1px solid var(--primary-color);
  outline: 0px solid var(--primary-color);
  display: flex;
  margin: 0px 10px 10px 10px;
  align-items: center;
  transition: all 100ms linear;
}

.main>.like .item:hover {
  outline-width: 2px;
}

.main>.like .image {
  height: 90px;
  width: 90px;
  margin-left: 15px;
  font-size: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
  position: relative;
}

.main>.like .image>img {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
}

.main>.like .item>.info {
  height: 80%;
  margin: 10px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.main>.like .item .title {
  font-size: 17pt;
  color: #505050;
}

.main>.like .item .title:hover {
  color: var(--primary-color);
}

.main>.like .item * {
  cursor: pointer;
}

.main>.like .item .money {
  color: var(--primary-color);
}

.money::before{
  content: "￥";
}

.tag>*{
  background-color: var(--primary-color);
  color: #fff;
  font-size: 7pt;
  padding: 3px;
  border-radius: 3px;
  user-select: none;
}

/**页脚*/
.footbar {
  margin-top: 20px;
  background-color: #000;
  padding: 10px 100px;
}

.footbar>.about {
  display: flex;
  justify-content: space-between;
  font-size: 10pt;
}

.footbar>.copyright {
  text-align: center;
  font-size: 10pt;
  padding-top: 20px;
}
